#folio{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-content: center;
    font-family: robot-title;
    background-color: rgb(244, 239, 239);
}
#folio h2{
    font-size: 35px;
    margin-left: 2%;
}
#folio h3{
    text-align: center;
    font-size: 25px;
}

#folio img{
    width: 20%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 2%;
    margin-right: 2%;
}

#folio .web{
    margin: auto;
    width: 80%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    
    border: 5px;
    border-style: groove;
    border-color: aliceblue;
    background-color: rgb(187, 180, 180);
}


#folio .design{
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 5px;
    border-style: groove;
    border-color: aliceblue;
    background-color: rgb(187, 180, 180);
}

/* Responsivité */

@media screen and (max-width: 600px){
   #folio h2,#folio h3 {
        font-size: 15px;
    }
    #folio {
        min-height: 100dvh;
    }
}