/* Initialisation de base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Limitation de la hauteur du header */
header {
  background-color: #000; /* Couleur de fond noire */
  color: #fff; /* Texte blanc */
  position: fixed; /* Le header reste en haut lors du défilement */
  top: 0;
  left: 0;
  right: 0;
  height: 20vh; /* Limite la hauteur à 10% de la hauteur de la fenêtre */
  z-index: 1000; /* S'assure qu'il est toujours au-dessus */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour le style */
}

/* Limitation de la hauteur et taille des éléments du header */
header .headerInit {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

header .headerInit .logo {
  max-width: 18vh; /* Ajuste la taille du logo */
  height: auto;
}

header nav ul {
  display: flex;
  gap: 5px; /* Espace entre les éléments du menu */
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px; /* Espace autour des liens */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

header nav ul li a:hover {
  background-color: #444; /* Changement de couleur au survol */
}

/* Style Footer */
footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

footer .social a {
  margin-left: 20px;
  color: #fff;
}

footer .social a:hover {
  color: #1d9bf0; /* Changement de couleur pour effet hover */
}

/* Effet sur les hovers */
button:hover,
a:hover {
  transform: translateY(-2px);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }

  header .headerInit {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer .social {
    margin-top: 10px;
  }
}
